

 <div class="row">
  <div class="col-8 intro">
    <h1>{{username}}'s Library</h1>
    <p>{{message}}</p>

  </div>
 </div>


  <div class="row row-eq-height">    
      
    {{#each items}}

      <div class="col-6">
        <h2 class="center">{{item.game.name}}</h2>
        <div class="item_container">
          <img class="lone_pic" src="{{this.game.imgUrl}}" />
          <div class='see_more'>
            <a href="https://boardgamegeek.com/boardgame/{{geekId}}" class=""> See more...</a>
          </div>

          <ul class="rightList">
            <li>_id: {{_id}}</li>
            <li>DesignersZ: {{items.game.designers}}</li>
            <li>Artists: {{artists}}</li>
            <li>Minimum Players: {{minPlyr}}</li>
            <li>Max Players: {{maxPlyr}}</li>
            <li>Min PLay time: {{minTime}}</li>
            <!-- <li>Max PLaytime: {{maxTime}}</li>
            <li>Year: {{yearPub}}</li>
            <li>Difficulty: {{weight}}</li>
            <li>Mechanisms: {{mechanics}}</li> -->
 <!--            <li>Categories: {{categories}}</li>
            <li>Families: {{families}}</li>
            <li>Deleted: {{isDeleted}}</li> -->
          </ul>      
        </div>                
      </div>
    {{/each}}  
  </div>
