
  <main>
    <h1>{{username}}'s Collection</h1>
    <h2>Rate a Game</h2>   
    <h2>{{message}}</h2>
    <!-- <div>
      <form method="post" action="/item/" accept-charset="utf-8" max length="1000">
        <label class="form-block" >
   
        <input type="text" name="_id" placeholder="DB id"/ required>
        </label>
        <input type="number" name="rating" placeholder="Rating" required />
        <input type="text" name="status" placeholder="Status">

        <button>Rate</button>
        
      </form>
    </div> -->
    </div>

  <div class="row row-eq-height">    
      
    {{#each items}}

      <div class="col-md-2">
        <div class="container">
          <img class="lone_pic" src="{{game.imgUrl}}" />
          <div class='overlay'>
            <a href="https://boardgamegeek.com/boardgame/{{game.geekId}}" class=""> {{game.name}}</a>
            
             <form method="post" action="/item/" accept-charset="utf-8" max length="1000">
              <label class="form-block" >
              <input type="text" name="_id" value="{{game._id}}" placeholder="{{game._id}}" required   />
              <input type="text" name="status" placeholder="{{status}}">
              <input type="number" name="rating" placeholder="{{rating}}"/>
              <input type="text" name="id"  value="{{_id}}"/>
              
              <button>Rate</button>
            
            </form>

          </div>            
        </div>        
        <img class="shelf" src="/images/shelf3.png" />              
      </div>

    {{/each}}  
  </div>


  </main>

