
  <main>
    <h1>Rate a Game</h1>
    <h2>{{message}}</h2>
    <div>
      <form method="post" action="/items/" accept-charset="utf-8" max length="1000">
        <label class="form-block" >
   
        <input type="number" name="geekId" placeholder="Geek id"/ required>
        </label>
        <input type="number" name="rating" placeholder="Rating" required />
        <input type="text" name="status" placeholder="Status">

        <button>Rate</button>
        
      </form>
    </div>
    </div>

     <div class="row row-eq-height">    
      
    {{#each items}}

      <div class="col-6">
        <h2 class="center">Game Name: {{game.name}} ({{geekId}})</h2>
        <div class="item_container">
          <img class="lone_pic" src="{{game.imgUrl}}" />
          <div class='see_more'>
            <a href="https://boardgamegeek.com/boardgame/{{geekId}}" class=""> See more...</a>
          </div>

          <ul class="rightList">
            <!-- <li>user: {{user}}</li> -->
            <li>user.firstName: {{user.firstName}}</li>
            <li>user._id: {{user._id}}</li>
            <br />
            <li>item_id: {{_id}}</li>
            <br />
            <li>Designers: {{game.designers}}</li>
            <li>Artists: {{game.artists}}</li>
            <li>Minimum Players: {{game.minPlyr}}</li>
            <li>Max Players: {{game.maxPlyr}}</li>
            <li>Min PLay time: {{game.minTime}}</li>
            <!-- <li>Max PLaytime: {{maxTime}}</li>
            <li>Year: {{yearPub}}</li>
            <li>Difficulty: {{weight}}</li>
            <li>Mechanisms: {{mechanics}}</li> -->
  <!--            <li>Categories: {{categories}}</li>
            <li>Families: {{families}}</li>
            <li>Deleted: {{isDeleted}}</li> -->
          </ul>      
        </div>                
      </div>
    {{/each}}  
  </div>


  </main>

